footer{
	width: 100%;
	height: 300px;
	background-color: #010113;
	bottom: 0;
	margin-top: 600px;
    text-align: center;
    font-family: monospace;
    padding-top: 50px;
}

footer > .a1{
	width: 100%;
	height: 300px;
	bottom: 0;
	margin-top: 50px;
    text-align: center;
    color: white;
    transition: 0.3s;
}

footer > .a1:hover{
	width: 100%;
	height: 300px;
	bottom: 0;
	margin-top: 50px;
    text-align: center;
    color: grey;
}

footer > h3{
	margin-top: 50px;
    text-align: center;
    color: white;
    transition: 0.3s;
    font-family: monospace;
    font-size: 25px;
}