nav{
	background-color: grey;
	text-align: center;
	padding: 5px;
}

.a1{
	color: white;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}
.a1:hover{
	color: black;
}