body{
	margin: 0;
	font-family: cursive;
	font-size: 20px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}


.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 0px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.dot {
  cursor:pointer;
  height: 8px;
  width: 50px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.allcontainer{
  padding: 20px;
  background-color: #d6d6d6;
}

.allcontainer2{
  text-align: center;
}

.allcontainer2 > img{
  margin-top: 50px;
  box-shadow: 0 0 10px;
  filter: grayscale(1);
  transition: 0.3s;

}

.allcontainer2 > img:hover{
  margin-top: 40px;
  box-shadow: 0 0 10px;
  filter: grayscale(0);
  width: 60%;
}

