body{
	margin: 0;
	font-size: 20px;
	font-family: monospace;
}

#carousels{
	position: relative;
}

.carousel{
	position: absolute;
	opacity: 0;
	transition: opacity 3s;
    width: 100%;
}

.demonstration{
	opacity: 1;
}