body{
	margin: 0;
	font-family: cursive;
	font-size: 20px;
}

#started{
    position: relative;
}

.carousel{
    position: absolute;
    opacity: 0;
    transition: opacity 3s;
    width: 100%;
}

.demonstration{
    opacity: 1;
}


.h{
    text-align: center;
    width: 100%; 
}


h1{
	position: relative;
    color: white;
    font-size: 100px;   
    top: 100px;
    font-family: monospace;
    text-shadow: 1px 1px 2px black;
}

h3{
    position: relative;
    color: white;
    font-size: 50px;   
    top: 150px;
    font-family: monospace;
    text-shadow: 1px 1px 2px black;
    margin: 0px 100px;
}

.sector1{
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 570px;
}

.sector1 > h1{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
    color: black;
    text-shadow: none;
    border-left: 20px solid grey;
    padding-left: 50px;
}

.sector2{
	width: 100%;
	height: 200px;
	margin-top: 100px;
}

.sector2> h1{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
    color: black;
    text-shadow: none;
    border-left: 20px solid grey;
    padding-left: 50px;
}

.sector3{
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.sector3 > h1{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
    color: black;
    text-shadow: none;
    border-left: 20px solid grey;
    padding-left: 50px;
    margin-top: 0;
}

.sector3 > .h2{
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 50px;
}

.sector3 > hr{
    width: 90%;
}

