.all{
	width: 100%;
	height: 200px;
	background-color: white;
	text-align: center;
	font-family: monospace;
	font-style: none;
	text-shadow: none;
	color: grey;

}

.all > h2{
	font-family: monospace;
	font-style: none;
	text-shadow: none;
	color: grey;
	font-size: 40px;
}

.img1{
	width: 100%;
	background-attachment: fixed;
	background-image: url(../IMG/mechwarrior-battletech.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}

body{
	margin: 0;
}

.all > h1{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
    color: black;
    text-shadow: none;
    border-left: 20px solid grey;
    padding-left: 50px;
    margin-top: 0;
}